.container{
    
    background:#acc7dc;
    position: absolute;
    min-width: 100%;
    min-height: 100%;

}
/*for automatic serializing the numbers to the list*/
.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}
  
.css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}



.table-responsive {
    max-height:500px;
}

