.container{
  background:#acc7dc;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
  
.dropdown .dropdown-menu a:hover{
    /*background: #4286f4;*/
    background: #87cefa;
}
.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}
  
.css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}

.table-responsive {
    max-height:500px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  
}

table {
  width: 100%;
}

.mat-column-select {
  overflow: visible;
}

.tp-button-row button,
.tp-button-row a {
   margin-right: 8px;
}

.mat-header-cell {    text-align: center;    }

.mat-form-field {
  font-size: 14px;
  width: 100%;
}





